In [16]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as sm

In [9]:
data = pd.read_csv('r9nano.csv', index_col=0);data

    benchmark    arg      time
0    l1v_read  10000  0.020323
1    l1v_read  10000  0.020846
2    l1v_read  10000  0.020304
3    l1v_read  10000  0.020584
4    l1v_read  10000  0.020306
5    l1v_read  10000  0.020581
6    l1v_read  10000  0.020323
7    l1v_read  10000  0.020559
8    l1v_read  10000  0.020584
9    l1v_read  10000  0.020579
10   l1v_read  10000  0.020327
11   l1v_read  10000  0.020842
12   l1v_read  10000  0.020320
13   l1v_read  10000  0.020592
14   l1v_read  10000  0.020578
15   l1v_read  10000  0.020856
16   l1v_read  10000  0.020313
17   l1v_read  10000  0.020568
18   l1v_read  10000  0.020320
19   l1v_read  10000  0.020576
20   l1v_read  20000  0.030750
21   l1v_read  20000  0.030737
22   l1v_read  20000  0.030994
23   l1v_read  20000  0.030728
24   l1v_read  20000  0.030461
25   l1v_read  20000  0.030739
26   l1v_read  20000  0.030485
27   l1v_read  20000  0.030730
28   l1v_read  20000  0.030458
29   l1v_read  20000  0.030997
..        ...    ...       ...
150  l1v_read  80000  0.091425
151  l1v_read  80000  0.091685
152  l1v_read  80000  0.091419
153  l1v_read  80000  0.091709
154  l1v_read  80000  0.091425
155  l1v_read  80000  0.092200
156  l1v_read  80000  0.091426
157  l1v_read  80000  0.091704
158  l1v_read  80000  0.091432
159  l1v_read  80000  0.091681
160  l1v_read  90000  0.101592
161  l1v_read  90000  0.101839
162  l1v_read  90000  0.101865
163  l1v_read  90000  0.102136
164  l1v_read  90000  0.101589
165  l1v_read  90000  0.101854
166  l1v_read  90000  0.101588
167  l1v_read  90000  0.102131
168  l1v_read  90000  0.101870
169  l1v_read  90000  0.102368
170  l1v_read  90000  0.101861
171  l1v_read  90000  0.101850
172  l1v_read  90000  0.101852
173  l1v_read  90000  0.101849
174  l1v_read  90000  0.101577
175  l1v_read  90000  0.101857
176  l1v_read  90000  0.101863
177  l1v_read  90000  0.101870
178  l1v_read  90000  0.101581
179  l1v_read  90000  0.102132

[180 rows x 3 columns]

In [10]:
grouped = data.groupby('arg')

In [18]:
grouped.describe()

       time                                                              \
      count      mean       std       min       25%       50%       75%
arg
10000  20.0  0.020514  0.000190  0.020304  0.020322  0.020572  0.020584
20000  20.0  0.030682  0.000187  0.030458  0.030469  0.030730  0.030745
30000  20.0  0.040869  0.000208  0.040622  0.040638  0.040891  0.040970
40000  20.0  0.050993  0.000208  0.050771  0.050803  0.051051  0.051062
50000  20.0  0.061204  0.000217  0.060937  0.060956  0.061213  0.061469
60000  20.0  0.071335  0.000217  0.071100  0.071123  0.071368  0.071379
70000  20.0  0.081514  0.000188  0.081257  0.081293  0.081536  0.081557
80000  20.0  0.091628  0.000205  0.091419  0.091431  0.091684  0.091705
90000  20.0  0.101856  0.000213  0.101577  0.101777  0.101856  0.101870


            max
arg
10000  0.020856
20000  0.031020
30000  0.041174
40000  0.051584
50000  0.061491
60000  0.071915
70000  0.081812
80000  0.092200
90000  0.102368

In [24]:
agg_data = grouped.agg(np.mean)
agg_data = agg_data.reset_index()
agg_data.columns = ['size', 'time']
agg_data

    size      time
0  10000  0.020514
1  20000  0.030682
2  30000  0.040869
3  40000  0.050993
4  50000  0.061204
5  60000  0.071335
6  70000  0.081514
7  80000  0.091628
8  90000  0.101856

In [30]:
result = sm.ols(formula="time ~ size", data=agg_data).fit()
result.params['size']

1.016400617041667e-06